html, body{
    height:100%;
    margin:0;
    padding:0px;
    font-family: 'Roboto', sans-serif;
}
html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

  .greeting h1 {
    font-weight: lighter;
    font-size: 60px;
    margin: 10px 0 0 15px;
  }
  .greeting h2 {
    font-weight: lighter;
    font-size: 20px;
    line-height: 0px;
    margin: 10px 0 20px 135px;
  }

.main-container{
    display:flex;
    height:100%;
    flex-direction:column;
}

.map-list-container {
    display: flex;
    flex-direction:row;
    height:100%;
    background-color: #f1f1f1;
    overflow: hidden;
}

.map-container{
    background-color: rgb(148, 148, 141);
    flex-grow:3;
}
  
.list-container{
    min-width: 20rem;
    padding: 5px;
    overflow-y: auto;
}


