html, body{
    height:100%;
    margin:0px;
    padding:0px;
}
html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

.main-container{
    display:flex;
    height:100%;
    flex-direction:column;
}

.map-list-container {
    display: flex;
    flex-direction:row;
    height:100%;
    background-color: #f1f1f1;
}

.map-container{
    background-color: rgb(148, 148, 141);
    flex-grow:3;
}
  
.list-container{
    background-color: rgb(241, 231, 231);
}


